@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ms+Madi&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
list-style-type: none;
}
h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
  }
a {
    text-decoration: none;
    color: black;
}

/* le menu  navbar*/
#menu {
    margin-top: 100px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
#menu li {
    display: inline-block;
}
#menu li a {
    color: #444444;
    text-decoration: none;
    padding: 10px 25px;
    margin-bottom: 5px;
    text-align: right;
}
#menu li a:after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    margin: auto;
}

#menu li a:hover:after {
    color: #fff;
    width: 90%;
    background-color:rgb(165, 106, 42);
}

/* imageheader */
header #image-header {
    padding-top: 60px;
    background: url('../images/fond.jpg') no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
}
h1 {
    font-family: 'Ms Madi', cursive;
    text-align: center;
    color: rgb(165, 252, 235);
    font-size: 6em;
    margin-top: 100px;
    text-shadow: 1px 3px 2px black;
}
h1:hover {
    color: wheat;
}

/* contact */
#mes-infos {
    display: inline-block;
}
#mes-infos li {
    margin-left: 5%;
    margin-bottom: 10px;
}

/* les puces de liste */
#calendrier {
    list-style-image: url("../images/calendar.png");
}
#telephone {
    list-style-image: url("../images/telephone.png");
}
#adresse {
    list-style-image: url('../images/home.png');
}
#mail {
    list-style-image: url('../images/mail.png');
}

/* A PROPOS DE MOI  */

#aproposdemoi {
    background-color:#b6ffffaa;
    padding-left: 20px;
    padding-bottom: 10px;
}
p{
    font-size: 20px;
    right: 550px;

}
#aproposdemoi  img {
    width: 15%;
    height: 15%;
}
#aproposdemoi #moi {
    margin-left: 20px;
}

/* formation balises  */
#formation {
    background-color:#8bf1f1aa;
    padding: 10px 0px ;
}
#formation #formation-position {
    text-align: center;
    display: flex;
    flex-direction: row;
}
#formation article {
    text-align: center;
    width: 30%;
}
#formation article h3{
    text-decoration:underline;
}
#formation article img{
    width: 80%;
}
#formation article div {
    position: absolute;
    top: 1800px;
    width: 250px;
    margin-left: 100px;
    opacity: 0;
    animation: fadeOut 0.3s ease-out;
    color: white;
    background-color: rgba(51, 51, 51, 0.604);
}
#formation article div:hover {
    animation: fadeIn 0.2S ease-in;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity: 0;}
}

@keyframes fadeIn {
    0% {opacity:0;}
    100%{opacity: 1;}
}

/* experience  */

#experiencepro {
    background-color:#b6ffffaa;
    padding: 10px 0px ;
}

/* competences */

#competences {
    background-color:#8bf1f1aa;
    padding: 10px 0px ;
}
#competences article {
    margin-left: 10px;
}


/* progress bar */

meter { 
    display: flex;   
    width: 300px;    
    height: 30px;    
    border: 1px solid #47747A;    
    border-radius: 30px;    
}

meter::-webkit-meter-bar {
  background: none;
  background-color: whiteSmoke;
  box-shadow: 0 5px 5px -5px #333 inset;
}

meter::-webkit-meter-optimum-value {
  box-shadow: 0 5px 5px -5px #999 inset;
  background-image: linear-gradient(
    90deg, 
    #acecf3 5%,
    #72e6c9 25%,
    #4fd4c9 55%,
    #62d2e6 100%
  );
  background-size: 100% 100%;
}

/* les traits de séparation */
hr {
    border-top: 1px dotted #008b8b;
}
hr.titre {
    border: 1px solid #008b8b;
  }

.double {
    border: none;
    border-top: 3px double rgb(37, 106, 109);
} 

/* balise projects */
#projects {
    background-color:#b6ffffaa;
    padding: 10px 0px 20px;
    text-align: center;
}
#projects #projet {
    display: flex;
    flex-direction: row;
}
#projects article {
    text-align: center;
    display: inline-block;
    width: 30%;
}
#projects article h3{
    text-align: center;
    text-decoration:underline;
}
#projects article img{
    width: 80%;
}



/* contact */
#infos {
    background-color:#8bf1f1aa;
    padding: 10px 0px 20px;
}
#mes-infos {
    display: inline-block;
}
#mes-infos li {
    margin-left: 50%;
    margin-bottom: 10px;
}


/* le bas de page  */
footer {
    background-image: url('../images/fond.jpg');
    margin-top: 50px;
    height: 150px;
    text-align: center;
    color: #fff;
}
footer img {
    background-color:#8bf1f1aa;
    padding: 10px 0px ;
}
