@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ms+Madi&display=swap');
body {
    background: linear-gradient(45deg, rgba(248, 196, 122, 0.584), rgba(239, 241, 122, 0.518));
    font-family: 'Montserrat', sans-serif;
}


/* les titre */
h1, h2{
    text-align: center;
}
h1 {
    font-family: 'Ms Madi', cursive;
    color: rgb(252, 214, 165);
    font-size: 100px;
    display:inline;    
}
h1:hover {
    color: white;
}
h2 {
    text-transform: uppercase
}


/* le haut de la page */
header {   
    background-image: url('../images/fond.jpg');
    text-align: center;
    margin-bottom:25px ;
    height: 20%;

}
header div {
    height: 100%;
    text-align: center;
    background-color: rgba(0, 100, 0, 0.31);
}
header img {
    width: 15%;
    height: 15%;
    opacity: 0.7;
}

header img,h1 {
    display: inline-block;
}

/* listes  */
ul {
    list-style-type: none;
}


/* contact */
#mes-infos {
    display: inline-block;
}
#mes-infos li {
    margin-left: 5%;
    margin-bottom: 10px;
}
/* les puces de liste */
#calendrier {
    list-style-image: url("../images/calendar.png");
}
#telephone {
    list-style-image: url("../images/telephone.png");
}
#adresse {
    list-style-image: url('../images/home.png');
}
#mail {
    list-style-image: url('../images/mail.png');
}


/* le menu  navbar*/
#menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
#menu li {
    display: inline-block;
}
#menu li a {
    color: #444444;
    text-decoration: none;
    padding: 10px 25px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 30px;
}
#menu li a:after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    margin: auto;
}

#menu li a:hover:after {
    color: #fff;
    width: 90%;
    background-color:rgb(165, 106, 42);
}


/* les section */
#infos, #competences ,#aproposdemoi ,#formation ,#experiencepro, #projects {
    background-color:#008b8baa;
    width: 90%;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 50px;
    padding: 1px;
    padding-left: 5px;
    box-shadow: 5px 5px 5px  tan;
}
p{
    font-size: 20px;
}

/* le bas de page  */
footer {
    background-image: url('../images/fond.jpg');
    margin-top: 50px;
    height: 150px;
    text-align: center;
    /* opacity: 0.4; */
}
div {
    text-align: center;
    height: 150px;
    background-color: rgba(0, 100, 0, 0.31);
}
footer img {
    margin-top: 20px;
    margin-right:10px;
}



/* les traits de séparation */
hr {
    border-top: 1px dotted #008b8b;
}
hr.titre {
    border: 1px solid #008b8b;
  }

/* mail */
#infos li a {
    color: #444444;
    text-decoration: none;

}
#infos li a:after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    margin: auto;
}

/* balise projects */
#projects {
    text-align: center;
}
#projects article {
    text-align: center;
    display: inline-block;
    width: 30%;
}
#projects article h3{
    text-align: center;
    text-decoration:underline;
}
#projects article img{
    height: 80%;
    width: 80%;
}
#projects article .appli{
    height: 40%;
    width: 40%;
}

/* progress bar */

meter { 
    display: flex;   
    width: 300px;    
    height: 30px;    
    border: 1px solid #47747A;    
    border-radius: 30px;    
}

meter::-webkit-meter-bar {
  background: none; /* Required to get rid of the default background property */
  background-color: whiteSmoke;
  box-shadow: 0 5px 5px -5px #333 inset;
}

meter::-webkit-meter-optimum-value {
  box-shadow: 0 5px 5px -5px #999 inset;
  background-image: linear-gradient(
    90deg, 
    #acecf3 5%,
    #72e6c9 25%,
    #4fd4c9 55%,
    #62d2e6 100%
  );
  background-size: 100% 100%;
}